{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false // "amd" | "umd" | "systemjs" | "commonjs" | false
            },
        ],
    ],
    // "exclude": "node_modules/**",
    "compact": false
}
